h4{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

tr > td{
    height: 200px;
    width: 100px;
}

table{
    border-spacing: 10px;
    margin: auto;
}

#firstSpec{
    background-color: red;
}

#secondSpec{
    background-color: yellow;
}

#thirdSpec{
    background-color: green;
}

#fourthSpec{
    background-color: blue;
}

#fifthSpec{
    background-color: black;
}